.products__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.products__list-item{
    border: 2px solid var(--color-orange);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.product__list-img{
    border-radius: 5px;
}
.products__list-title{
    text-align: center;
}

.products__list-category{
    text-align: center;
}

.products__list-price{
    text-align: center;
    color: var(--color-grey);
}

.products__list-description{
    text-align:center;
}

.products__list-footer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;
    margin-top: auto;
}

.products__list-btn{
    width: 100%;
}

.products__actions{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    gap: 10px;
}

@media (max-width: 1210px) {
    .products__list{
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 869px) {
    .products__list{
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (max-width: 600px) {
    .products__list{
        grid-template-columns: repeat(1, 1fr);
    }
    .products__actions{
        flex-direction: column;
        gap: 5px;
    }
}
