.about__advantages-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.about__advantages-item{
    border: 2px solid var(--color-orange);
    border-radius: 8px;
    padding: 20px;
}

.about__advantages-line{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.about__advantages-img{
    width: 40px;
    aspect-ratio: 1;
}
